@font-face {
    font-family: 'Century Gothic';
    src: url('../../../../public/fonts/CenturyGothic.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta desde tu archivo CSS */
  }

  /* Estilos para moviles*/
@media (max-width: 766px) {
    .sectionNavM {
        font-family: 'Century Gothic', sans-serif;

    }

    .containerM {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .divIconM {

    }

    .divNavBarM {
        display: none;

    }

    .iconStraM {
        width: 120px;
        height: auto;
        margin-left: 10px;

    }

    .navMovil {
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap: 5px;
    }

    .iconFabars {
        width: 35px;
        height: 35px;
        color: #009cdab9;
        padding-top: 2px;
        font-size: 25px;

    }

    .iconClient {
        width: 25px;
        height: 25px;
        /* --fa-primary-color: #009cda;
        --fa-secondary-color: #009cda; */
        color: #555555b9;
    }

    .divMenuMovil {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #009cda; /* Fondo blanco semi-transparente */
        z-index: 999; /* Asegura que esté encima de todo el contenido */

    }

    .navM {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 100px;
    
    }

    .ulMenuMovil {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 5px;
    
    }

    .liMenuMovil {
        padding: 5px;
        color: #ffffff;
        font-weight: 700;
        border-radius: 5px;
        width: 200px;
        text-align: center;
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 35px;
        background: none;
        border: none;
        cursor: pointer;
        color: #004e6d; /* Color del icono */
        font-size: 30px;
        z-index: 1000;
        background-color: white;
        border-radius: 20px;
        padding: 3px 8px;
    }

    .iconChevronM {
        width: 18px;
        color: #ffffff;
        margin-left: 5px;
    }

    .toggleButtonM {
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    
    .menuItemsM {
        min-width: 160px;
        z-index: 50;
        list-style-type: none;
        visibility: hidden; 
        position: relative; 
        overflow-y: auto; 
        overflow-x: hidden;
        max-height: 0;
        opacity: 0; 
        transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    }

    .subMenuM {
        padding: 5px;
        font-weight: 400;

    }

    .menuVisible4 {
        visibility: visible; /* Muestra el menú desplegable */
        max-height: 500px; /* Establece una altura máxima para el menú */
        opacity: 1;
        margin-top: 8px;
    }

    .menuVisible5 {
        visibility: visible; /* Muestra el menú desplegable */
        max-height: 500px; /* Establece una altura máxima para el menú */
        opacity: 1;
        margin-top: 8px;

    }

    .dropdownM {
        position: relative;
        display: inline-block;
        margin-right: 3px;
        padding: 0 2px;
        color: #717171;
        border-radius: 5px;
        padding: 5px;
        font-weight: 400;
        font-family: 'Century Gothic', sans-serif;
        z-index: 1000;

    }




}

/* Estilos para desktop*/
  
@media (min-width: 768px)  {
    
    .sectionNav {
        background-color: #ffffff;
        font-family: 'Century Gothic', sans-serif;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .divIcon {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        /* border-color: #009cda;
        border-width: 1px;
        border-radius: 3px; */
        margin-bottom: 4px;
    }
    
    .divNavBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        margin-right: 100px;
    }
    
    .iconStra {
        width: 240px;
        height: auto;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .ulNav {
        display: flex;
        list-style: none;
        gap: 5px;
    }
    
    .liNav {
        /* float: left; */
        margin-right: 3px;
        padding: 0 2px;
        color: #717171;
        border-radius: 5px;
        padding: 5px;
        font-weight: 400;
    }

    .liNav:hover {
    
        font-weight: 800;
    }
    
    .navMovilS {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 3px;
        padding: 0 2px;
        color: #717171;
        border-radius: 5px;
        padding: 5px;
        font-weight: 400;
        font-family: 'Century Gothic', sans-serif;

    }

    .toggleButton {
        background-color: #ffffff;
        color: #717171;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .menuItems {
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 50;
        list-style-type: none;
        visibility: hidden; 
        position: absolute; 
        overflow-y: auto; 
        overflow-x: hidden;
        max-height: 200px !important;
        opacity: 0; 
        transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    }

    .menuVisible {
        visibility: visible; 
        max-height: 500px; 
        opacity: 1;
    }

    .menuItems li{
        padding: 8px 16px;
    }

    .menuItems li a {
        display: block;
        text-decoration: none;
        color: #717171;
    }

    .menuItems li a:hover {
        background-color: #f1f1f1;
    }

    .subMenu {
        color: #717171;
        padding: 5px;
        font-weight: 400;

    }

    .menuVisible2 {
        visibility: visible; /* Muestra el menú desplegable */
        max-height: 500px; /* Establece una altura máxima para el menú */
        opacity: 1;
    }

    .menuVisible3 {
        visibility: visible; /* Muestra el menú desplegable */
        max-height: 500px; /* Establece una altura máxima para el menú */
        opacity: 1;
    }

    .menuItems::-webkit-scrollbar {
        width: 8px; /* Ancho de la barra de desplazamiento */
    }
    
    .menuItems::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color de fondo de la pista de desplazamiento */
    }
    
    .menuItems::-webkit-scrollbar-thumb {
        background: #009cda; /* Color del pulgar de desplazamiento */
        border-radius: 4px; /* Borde redondeado del pulgar de desplazamiento */
    }
    
    .menuItems::-webkit-scrollbar-thumb:hover {
        background: #555; /* Cambio de color al pasar el cursor sobre el pulgar */
    }

    /* Estilo para barras de desplazamiento en Firefox */
    .menuItems {
        scrollbar-width: thin; /* Ancho de la barra de desplazamiento */
    }

    .menuItems {
        scrollbar-color: #009cda #f1f1f1; /* Color del pulgar y pista de desplazamiento */
    }
    

    /* .menuItems li:first-child {
        border-radius: 5px 5px 0 0;
    } */
}
