@font-face {
    font-family: 'Century Gothic';
    src: url('../../../../public/fonts/CenturyGothic.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta desde tu archivo CSS */
  }

  /* Estilos para moviles*/
@media (max-width: 766px) {
    .sectionNavM {
        font-family: 'Century Gothic', sans-serif;

    }

    .containerM {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .divIconM {

    }

    .divNavBarM {
        display: none;

    }

    .iconStraM {
        width: 120px;
        height: auto;
        margin-left: 10px;

    }

    .navMovil {
        display: flex;
        flex-direction: row;
        padding: 5px;
        gap: 5px;
    }

    .iconFabars {
        width: 25px;
        height: 25px;
        color: #009cdab9;

    }

    .iconClient {
        width: 25px;
        height: 25px;
        /* --fa-primary-color: #009cda;
        --fa-secondary-color: #009cda; */
        color: #555555b9;
    }

    .divMenuMovil {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #009cda; /* Fondo blanco semi-transparente */
        z-index: 999; /* Asegura que esté encima de todo el contenido */

    }

    .navM {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 100px;
    
    }

    .ulMenuMovil {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 5px;
    
    }

    .liMenuMovil {
        padding: 5px;
        color: #ffffff;
        font-weight: 700;
        border-radius: 5px;
        width: 200px;
        text-align: center;
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 35px;
        background: none;
        border: none;
        cursor: pointer;
        color: #004e6d; /* Color del icono */
        font-size: 30px;
        z-index: 1000;
        background-color: white;
        border-radius: 20px;
        padding: 3px 8px;
    }

    .iconChevron {
        width: 18px;
        color: #ffffff;
        margin-left: 5px;
    }

}

/* Estilos para desktop*/
  
@media (min-width: 768px)  {
    
    .sectionNav {
        background-color: #ffffff;
        font-family: 'Century Gothic', sans-serif;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .divIcon {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        /* border-color: #009cda;
        border-width: 1px;
        border-radius: 3px; */
        margin-bottom: 4px;
    }
    
    .divNavBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        margin-right: 100px;
    }
    
    .iconStra {
        width: 240px;
        height: auto;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .ulNav {
        display: flex;
        list-style: none;
        gap: 5px;
    }
    
    .liNav {
        /* float: left; */
        margin-right: 3px;
        padding: 0 2px;
        color: #717171;
        border-radius: 5px;
        padding: 5px;
        font-weight: 400;
    }

    .liNav:hover {
    
        font-weight: 800;
    }
    
    .navMovilS {
        display: none;
    }
}
