@font-face {
    font-family: 'Century Gothic';
    src: url('../../../public/fonts/CenturyGothic.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta desde tu archivo CSS */
  }

/* Estilos para moviles*/
@media (max-width: 766px) {

    .containerM {
        font-family: 'Century Gothic', sans-serif;
        display: flex;
        width: 100%;
        background-size: cover;
        height: 80px;

    }

    .titleSRM {
        color : white;
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 20px;

    }

    .container2M {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'Century Gothic', sans-serif;
        margin-top: 10px;

    }

    .titleNosotrosM {
        color: rgb(70, 70, 70);
        font-weight: bold;
        font-size: 20px;
        margin-left: 5px;
    }

    .parrafosPM {
        color: #464646;
        text-align: justify;
        font-size: 14px;
        margin-top: 5px;
    }

    .spanPM {
        color: #009cda;
    }

    .noneMovil {
        display: none;
    }

    .seccionNNM {

    }

    .containMvM {

    }

    .div1MVM {

    }

    .titleMVM {

    }

    .div2MVM {

    }




}
  
@media (min-width: 768px)  {
    .container {
        width: 100%;
        height: 150px;
        background-size: cover;
        display: flex;
        font-family: 'Century Gothic', sans-serif;
    }

    .titleSR {
        display: flex;
        color: white;
        font-size:50px;
        font-weight: 700;
        margin-left: 100px;
        margin-top: 50px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        font-family: 'Century Gothic', sans-serif;
        margin-top: 25px;
    }

    .seccionNN {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 25px;
    }

    .titleNosotros {
        color: rgb(70, 70, 70);
        font-weight:bold;
        font-size: 25px;
        margin-top: 25px;
        margin-left: 10px;
    
    }

    .parrafosP {
        color: #464646;
        text-align: justify;
        font-size: 15px;
        margin-top: 10px;
    }

    .ulP {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    
    }
    
    .liP {
        color: rgb(70, 70, 70);
        font-size: 15px;
        display: flex;
        flex-direction: row;
        gap: 5px;
    
    }

    .imgP {
        width: 15px;
        height: 15px;
    
    }

    .containMv {
        font-family: 'Century Gothic', sans-serif;
        display: flex;
        flex-direction: row;
        height: 400px;
        background-color: rgba(42, 42, 42, 0.932);
        gap: 80px;
        margin-top: 20px;

    }

    .titleMV {
        color: white;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .titleMV:hover {
        transform: scale(1.1);
        color: #009cda;
    }

    .parrafosMV {
        color: white;
        text-align: justify;
        font-size: 17px;
    }

    .div1MV, .div2MV {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div1MV {
        margin-left: 30px;
    }
    .div2MV {
        margin-right: 30px;

    }

    .nonePC {
        display: none;
    }
}