/* Color primario #009cda */

@font-face {
    font-family: 'Century Gothic';
    src: url('../../../../public/fonts/CenturyGothic.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta desde tu archivo CSS */
  }
  

@media (min-width: 768px)  {
    
    .sectionHeader {
        background-color: #efefef;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* padding: 10px 0; */
        font-family: 'Century Gothic', sans-serif;
    }
    
    .divHeader1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 8px;
        align-items: center;
        padding: 5px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        /* margin-left: 980px; */
        margin-right: 110px;
    }
    
    .divRedes {
        display: flex;
        flex-direction: row;
    }
    
    .iconBusqueda {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        fill: #fff;
    }
    
    .buttonContact {
        background-color: white;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: all 0.3s;
        color: #01788e;
        font-weight: 500;
    }
    
    .buttonContact:hover {
        background-color: #01788e;
        color: white;
    }
    
    .iconSocial {
        width: 28px;
        height: 28px;
        fill: #009cda;
    }
    
    .cRedes{
        margin-right: 5px;
    }

}
