@font-face {
    font-family: 'Century Gothic';
    src: url('../../../../public/fonts/CenturyGothic.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta desde tu archivo CSS */
  }

  /* Estilos para moviles*/
@media (max-width: 766px) {

    .sectionSliderM {
        font-family: 'Century Gothic', sans-serif;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

    }

    .imagenSHM {
        z-index: 1;
        width: 100%;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.459);
        filter: brightness(0.7);
        left: 0;
        
    }

    .divSliderM {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 120px;
        margin-left: 90px;
        z-index: 2;
    }

    .titleSliderM {
        font-size: 15px;
        color: #ffffff;
        z-index: 2;
        font-weight: bold;
        
    }

    .descripSliderM{
        font-size: 11px;
        color: #ffffff;
        z-index: 2;
        
    }

    .buttonSliderM {
        color: #ffffff;
        padding: 8px;
        border-radius: 8px;
        background-color: #009cda;
        z-index: 2;
        font-weight: 600;
        font-size: 11px;
        margin-top: 10px;
        
    }

    .divimgSHM {
        /* z-index: 1; */
    }

    .divsito {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 4;
        top: 30px;
        width: 280px;
        margin-left: 10px;
        margin-top: 20px;
        gap: 5px;

    }
}

@media (min-width: 768px)  {

    .sectionSlider {
        display: flex;
        flex-direction: column;
        font-family: 'Century Gothic', sans-serif;
        position: relative; 
        width: 100%;
        
    }
    
    .imagenSH {
        /* position: absolute; */
            z-index: 1;
            width: 100% !important;
            /* width: auto; */
            height: 500px;
            background-color: rgba(0, 0, 0, 0.8);
            filter:brightness(0.6);
            left: 0;
            /* object-fit: cover;
            object-position: center; */
    }
    
    .divSlider {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 50px;
        margin-left: 40px;
        height: 300px;
        gap: 10px;
        /*padding-right: 90px; */
        z-index: 4;
        top: 30px;
        width: 30%;
    }
    
    .titleSlider {
        font-size: 30px;
        color: #ffffff;
        z-index: 2;
        font-weight: bold;
    }
    
    .descripSlider{
        font-size: 20px;
        color: #ffffff;
        z-index: 2;
    
    }
    
    .buttonSlider {
        color: #ffffff;
        padding: 12px;
        border-radius: 8px;
        background-color: #009cda;
        z-index: 2;
        font-weight: bold;
        margin-top: 10px;
    }
    
    .buttonSlider:hover {
        background-color: white;
        color: #009cda;
    }


}


