@font-face {
    font-family: 'Century Gothic';
    src: url('../../../../../public/fonts/CenturyGothic.ttf') format('truetype');
    /* Asegúrate de que la ruta sea correcta desde tu archivo CSS */
}

/* Estilos para moviles*/
@media (max-width: 766px) {
    
.sliderMM {
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    margin: 0 auto;

}

.cardMM {

}

.imagenMM {

}

.titleXMM {

}

.parrafoMM{

}
}